<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>VueDjangoProject/post_detail.html</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <link href="/static/css/chunk-vendors.66a9c09f.css" rel="preload" as="style"><link href="/static/css/post_detail.a1772928.css" rel="preload" as="style"><link href="/static/js/chunk-vendors.b2c04d06.js" rel="preload" as="script"><link href="/static/js/post_detail.42946030.js" rel="preload" as="script"><link href="/static/css/chunk-vendors.66a9c09f.css" rel="stylesheet"><link href="/static/css/post_detail.a1772928.css" rel="stylesheet"></head>
  <body>
    <noscript>
      <strong>We're sorry but VueDjangoProject/post_detail.html doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/static/js/chunk-vendors.b2c04d06.js"></script><script type="text/javascript" src="/static/js/post_detail.42946030.js"></script></body>
</html>
